<div class="col-md-3 sidebar-top">
  <div data-spy="affix" data-offset-top="10" data-offset-bottom="200">
    <ul class="list-unstyled">
      <li><a class="btn btn-primary btn-lg" href="/"><span class="glyphicon glyphicon-arrow-left"></span></a></li>
    </ul>
  </div>
</div>
